@charset "UTF-8";

@font-face {
	font-family: 'TTHakgyoansimYeohaengR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimYeohaengR.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MYYeongnamnu';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	/* font-family: 'TTHakgyoansimYeohaengR', sans-serif; */
	/* WAGURITTF 폰트 적용, 폰트가 로드되지 않았을 경우에는 sans-serif 폰트를 대체로 사용 */
}


.navbar-brand-center {
	display: flex;
	justify-content: center;
	width: 100%;
}

body {
	-ms-overflow-style: none;
}

body::-webkit-scrollbar {
	display: none;
}

.scroll {
	-ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
	display: none;
}

.custom-scroll {
	width: 250px;
	height: 250px;
	overflow-y: scroll;
	/*  */
}

/* 스크롤바의 폭 너비 */
.custom-scroll::-webkit-scrollbar {
	width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background: #b8e0ff;
	/* 스크롤바 색상 */
	border-radius: 10px;
	/* 스크롤바 둥근 테두리 */
}

.custom-scroll::-webkit-scrollbar-track {
	background: #f0f8ff;
	/*스크롤바 뒷 배경 색상*/
}