@charset "UTF-8";

@font-face {
	font-family: 'TTHakgyoansimYeohaengR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimYeohaengR.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MYYeongnamnu';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'TTHakgyoansimYeohaengR', sans-serif;
	/* WAGURITTF 폰트 적용, 폰트가 로드되지 않았을 경우에는 sans-serif 폰트를 대체로 사용 */
}


.navbar-brand-center {
	display: flex;
	justify-content: center;
	width: 100%;
}

body {
	-ms-overflow-style: none;
}

body::-webkit-scrollbar {
	display: none;
}
